<!-- Collapsible -->
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <svg class="icon icon--primary icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
      reiciendis doloribus illo quidem alias. Eos nihil voluptatem ad fugit
      reiciendis enim officia itaque impedit debitis, modi totam illum eaque
      quos.
    </p>
  </div>
</div>
<!-- End Collapsible -->

<script>
  const collapsibles = document.querySelectorAll(".collapsible");
  collapsibles.forEach((item) =>
    item.addEventListener("click", function () {
      this.classList.toggle("collapsible--expanded");
    })
  );
</script>
